html, body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100vh;
    background-color: #050811;
}
body {
    color: #fc9d0d;
}
h1 {
    color: #fc9d0d;
}
#app {
    min-height: 100vh;
    font-family: "Comic Relief", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fc9d0d;
}

